body{
  margin: 0px;
}
main{
  margin-left: 20px;
  margin-right: 20px;
}
h1{
  text-align: center;
}
.navbar ul{
  list-style-type: none;
  background-color: rgb(95, 94, 94);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.home {
  text-align: center;
}
.navbar a:hover{
  background-color: rgb(50, 50, 50);
}
